h1,h2,p,.container{text-align: center;}
h3,h4{font-family: "callunaitalic";}
p{font-family: "callunaitalic";}
h1{font-size: 400%;}
h3{font-size: 140%;}


.textspacingVertical {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.textspacingHorizontal{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.container {
  width: 100%;
  padding: 10vh;
}

.banner-img-contain{
  background-repeat:repeat;
  background-size:contain;
}


#showcase{
  text-align: center;
}

figcaption{
  padding-top: 10vh;
} 
        
.banner-img-center{
  background-repeat: no-repeat;
  background-position: center;
}

section.banner h1 {
  font-size: 1000%;
  line-height: 1;
  text-transform: uppercase;
  /*opacity: 0.8;*/
  animation: FadeIn 2s;
}

section.banner h2{
   font-size: 250%;
  line-height: 1;
  text-transform: uppercase;
    animation: FadeIn 2s;

}

section.banner-img {
  background-image: url("../img/3.jpg");
}

section.banner-img2 {
  background-image: url("../img/2.jpg");
}

section.banner.banner-img2{
  height: 60vh;
}
section#intro_section img{
  width: auto;
  display: inline;
}

section#intro_section{
  padding: 10vh 20vh 20vh 20vh;
}

section#intro_section p{
  padding: 0vh 10vh 0vh 10vh;
}


section#intro_section h1{
  padding-bottom: 7vh;
}

section#intro_section h1{
  text-transform: uppercase;
}

section#showcase img{
  height: 40vh;
  width: 100%;
}



/*-------------Media query between width 320px to 699,
               for phones - portrait : greater than 320px and less than 699px--------------------------------*/
@media (min-width: 320px) and (max-width: 699px) { 

section.banner {padding-top: 20vh; height: 45vh;}
section.banner h1 {font-size: 500% !important;}
h1{font-size: 300%;}
p{font-size: 135%;}
section#intro_section .textspacingHorizontal{padding-right: 5vw;padding-left: 5vw;}
}

/*-------------Media query between width 700px to 1023,
               for phones-landscape, Ipad portrait and lanscape : width greater than 700px and less than 1023px; -------*/
@media (min-width: 700px) and (max-width: 1023px) {

section.banner {padding-top: 40vh; height: 90vh;}
p{font-size: 135%;}
section#showcase img{height: 30vh;}

}

/*-------------Media query between width 1024px to 
                1200,for Laptops : width greater than 1024 and width less than 1600px------*/
@media (min-width: 1024px) and (max-width: 1200px) { 
section.banner {padding-top: 40vh; height: 90vh;}
}


/*-------------Media query between width 1201px to 
                1600,for Laptops : width greater than 1024 and width less than 1600px------*/
@media (min-width: 1201px) and (max-width: 1600px) { 

section.banner {padding-top: 35vh; height: 90vh;}

.container{padding-right: 10vw;padding-left: 10vw;}
}


/*-------------Media query for above 1600px : width greater than 1601------------------------------*/
@media (min-width: 1601px) { 

section.banner {padding-top: 30vh; height: 65vh;}
p{font-size: 165%;}
section.banner h1 {font-size: 900%;}

.container{padding: 30vh;}
}


@-webkit-keyframes FadeIn{

from{
  opacity: 0;
}
to{
  opacity: 1;
}

}

@font-face {
    font-family: callunaRegular;
    src: url(../fonts/CallunaRegular.otf);
}

@font-face {
    font-family: callunaitalic;
    src: url(../fonts/Calluna.otf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/BebasNeueRegular.otf);
}
@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.otf);
}
