/*------------------Table styling------------*/
table,th,td{
	border-collapse: collapse;
border: 5px solid white;} 
tr {background-color: #F4F6F7;
}


td{ 
  padding-right: 2vh;
  padding-left: 2vh;
  padding-bottom: 2vh;
  margin: 0;
  width: 15vw;
}

th h3{padding-top: 1vh !important;
      padding-bottom: 1vh !important;
}

td:nth-child(1) {text-align: center;}

td h3{
	padding-top: 0 !important;
}
th{  
	height: 5vh;
   background-color: #4CAF50;
   color: white;}

td p, li{font-size: 110%;}


div.marketPanel,
div.productPanel,
div.usabilityPanel {display: none;}

#competitiveAnalysis_header h1{
  padding-bottom: 3vh !important;
}

#competitiveAnalysis_header p{
   padding-bottom: 3vh !important;
}

.market:hover,
.product:hover,
.usability:hover { background-color: #F4F6F7;}

#competitiveAnalysis_insights li{
font-family: "callunaRegular";
  padding-bottom: 1vh;
}